In [14]:
%reload_ext autoreload
%autoreload 2

from pathlib import Path
import pandas as pd

In [79]:
from nbc_analysis.utils.config_utils import get_config
from nbc_analysis.analysis import write_viewer_counts

config = get_config()

>> created example config file '/Users/wmcabee/.config/nbc_analysis/config_example.yaml'
>> loaded config '/Users/wmcabee/.config/nbc_analysis/config.yaml'

In [85]:

indir = Path('/Users/wmcabee/Dropbox (Cognitive Scale)/NBC Analysis/data/NBC2/batches')
df = write_viewer_counts(config_f='default', indir=indir)

>> created example config file '/Users/wmcabee/.config/nbc_analysis/config_example.yaml'
>> Using default config
>reading ve_20190704_0007
>reading ve_20190701_0015
>reading ve_20190702_0008
>reading ve_20190705_0011
>reading ve_20190707_0006
>reading ve_20190703_0002
>reading ve_20190701_0009
>reading ve_20190702_0014
>reading ve_20190706_0010
>reading ve_20190706_0001
>reading ve_20190702_0005
>reading ve_20190703_0013
>reading ve_20190705_0000
>reading ve_20190701_0004
>reading ve_20190702_0019
>reading ve_20190704_0016
>reading ve_20190703_0016
>reading ve_20190707_0012
>reading ve_20190706_0004
>reading ve_20190702_0000
>reading ve_20190704_0013
>reading ve_20190705_0005
>reading ve_20190701_0001
>reading ve_20190701_0010
>reading ve_20190705_0014
>reading ve_20190706_0009
>reading ve_20190704_0002
>reading ve_20190702_0011
>reading ve_20190705_0008
>reading ve_20190706_0015
>reading ve_20190707_0003
>reading ve_20190703_0007
>reading ve_20190707_0004
>reading ve_20190703_0000
>reading ve_20190702_0016
>reading ve_20190706_0012
>reading ve_20190704_0005
>reading ve_20190701_0017
>reading ve_20190705_0013
>reading ve_20190705_0002
>reading ve_20190701_0006
>reading ve_20190704_0014
>reading ve_20190707_0009
>reading ve_20190706_0003
>reading ve_20190702_0007
>reading ve_20190703_0011
>reading ve_20190704_0008
>reading ve_20190707_0015
>reading ve_20190703_0008
>reading ve_20190704_0011
>reading ve_20190705_0007
>reading ve_20190701_0003
>reading ve_20190703_0014
>reading ve_20190707_0010
>reading ve_20190706_0006
>reading ve_20190702_0002
>reading ve_20190702_0013
>reading ve_20190706_0017
>reading ve_20190707_0001
>reading ve_20190703_0005
>reading ve_20190701_0012
>reading ve_20190705_0016
>reading ve_20190704_0000
>reading ve_20190703_0019
>reading ve_20190706_0005
>reading ve_20190702_0001
>reading ve_20190703_0017
>reading ve_20190703_0020
>reading ve_20190707_0013
>reading ve_20190705_0004
>reading ve_20190701_0000
>reading ve_20190704_0012
>reading ve_20190704_0003
>reading ve_20190701_0011
>reading ve_20190706_0008
>reading ve_20190705_0015
>reading ve_20190707_0002
>reading ve_20190703_0006
>reading ve_20190702_0010
>reading ve_20190706_0014
>reading ve_20190705_0009
>reading ve_20190702_0009
>reading ve_20190701_0014
>reading ve_20190705_0010
>reading ve_20190704_0006
>reading ve_20190702_0015
>reading ve_20190701_0008
>reading ve_20190706_0011
>reading ve_20190707_0007
>reading ve_20190703_0003
>reading ve_20190703_0012
>reading ve_20190707_0016
>reading ve_20190706_0000
>reading ve_20190702_0004
>reading ve_20190704_0017
>reading ve_20190705_0001
>reading ve_20190702_0018
>reading ve_20190701_0005
>reading ve_20190705_0006
>reading ve_20190701_0002
>reading ve_20190703_0009
>reading ve_20190704_0010
>reading ve_20190706_0007
>reading ve_20190702_0003
>reading ve_20190703_0015
>reading ve_20190707_0011
>reading ve_20190707_0000
>reading ve_20190703_0004
>reading ve_20190702_0012
>reading ve_20190706_0016
>reading ve_20190704_0001
>reading ve_20190703_0018
>reading ve_20190701_0013
>reading ve_20190702_0017
>reading ve_20190706_0013
>reading ve_20190707_0005
>reading ve_20190703_0001
>reading ve_20190701_0016
>reading ve_20190705_0012
>reading ve_20190704_0004
>reading ve_20190707_0008
>reading ve_20190704_0015
>reading ve_20190705_0003
>reading ve_20190701_0007
>reading ve_20190703_0010
>reading ve_20190707_0014
>reading ve_20190704_0009
>reading ve_20190706_0002
>reading ve_20190702_0006
wrote viewer counts,file=/Users/wmcabee/DATA/NBC2/ana/viewer_counts.parquet],cnt=3068956

In [83]:
df.head()

                      ve_20190701_0001  ve_20190701_0000
-9196150979694065477               1.0               NaN
-9187424819516829301               6.0               NaN
-9173661172073676663               2.0               NaN
-9097063508280605085               4.0               NaN
-9051090896812311522               NaN               1.0

In [16]:
BATCHES_D = Path(config['BATCHES_D'])
files = list(BATCHES_D.glob('*'))

In [69]:
def get_batch_id(file):
    return file.stem.split('.')[0]

    
def get_day(batch_id):
    day = batch_id.split('_')[1]
    return day

def calc_profiles(file):
    batch_id = get_batch(file)
    day = get_day(batch_id)
    df = pd.read_parquet(file, columns=['mpid'])
    df = df.mpid.value_counts()
    df = df.to_frame().reset_index()
    df['batch_id'] = batch_id
    df['day'] = day
    df.rename(columns={'mpid': 'event_cnt', 'index': 'mpid'}, inplace=True)
    df['batch_unique_cnt'] = 1
    return  df

calc_profiles( files[0])
#df = pd.concat(map(calc_profiles, files), axis=1)

,mpid,event_cnt,batch_id,day,batch_unique_cnt
0,6433954607493869285,12,ve_20190701_0001,20190701,1
1,4587891724258847066,10,ve_20190701_0001,20190701,1
2,-1401182254313336720,10,ve_20190701_0001,20190701,1
3,21791403442117679,7,ve_20190701_0001,20190701,1
4,8867057339736565621,7,ve_20190701_0001,20190701,1
...,...,...,...,...,...
422,1565681129753200424,1,ve_20190701_0001,20190701,1
423,1959747275986222992,1,ve_20190701_0001,20190701,1
424,4190525936804030694,1,ve_20190701_0001,20190701,1
425,6572552049543939293,1,ve_20190701_0001,20190701,1
426,-6022515896618643240,1,ve_20190701_0001,20190701,1

                             user_cnt
batch_id             ve_20190701_0000 ve_20190701_0001
mpid
-9196150979694065477              NaN              1.0
-9187424819516829301              NaN              1.0
-9173661172073676663              NaN              1.0
-9097063508280605085              NaN              1.0
-9051090896812311522              1.0              NaN
...                               ...              ...
 9125832332069999541              NaN              1.0
 9155604478706897432              1.0              NaN
 9191760542596811405              NaN              1.0
 9193880873633758864              NaN              1.0
 9201419096852579801              1.0              NaN

[716 rows x 2 columns]