In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from pathlib import Path

from toolz import first, concatv
from pandas_summary import DataFrameSummary

In [3]:
infile = Path.home()  / '_NBC' / 'datasets' / 'ACS_17_5YR_S2503_with_ann.csv'
infile

PosixPath('/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv')

In [4]:
df = first(pd.read_csv(str(infile), iterator=True, engine='python'))
df = df.set_index('GEO.id')
df.head()
DATA = df

In [5]:
DATA.head().T

GEO.id,Id,0500000US47001,8600000US00601,8600000US00602,8600000US00603
GEO.id2,Id2,47001,00601,00602,00603
GEO.display-label,Geography,"Anderson County, Tennessee",ZCTA5 00601,ZCTA5 00602,ZCTA5 00603
HC01_EST_VC01,Occupied housing units; Estimate; Occupied hou...,30518,5818,12719,19009
HC01_MOE_VC01,Occupied housing units; Margin of Error; Occup...,549,249,374,503
HC02_EST_VC01,Percent occupied housing units; Estimate; Occu...,30518,5818,12719,19009
...,...,...,...,...,...
HC04_MOE_VC51,Percent owner-occupied housing units; Margin o...,(X),(X),(X),(X)
HC05_EST_VC51,Renter-occupied housing units; Estimate; MONTH...,1045,1399,1662,3273
HC05_MOE_VC51,Renter-occupied housing units; Margin of Error...,257,210,278,391
HC06_EST_VC51,Percent renter-occupied housing units; Estimat...,10.5,52.8,51.5,42.1
HC06_MOE_VC51,Percent renter-occupied housing units; Margin ...,2.5,6.0,6.4,4.0

In [6]:
df = DATA.copy()
columns_est = [x for x in df.columns if '_EST_' in x]
columns_oth = ['GEO.id2','GEO.display-label']
cols = list(concatv(columns_oth, columns_est))
dx = df[cols]

dx = dx.iloc[0].to_frame('label')
dx.index.name = 'var_name'
dx = dx.reset_index().set_index('label')
keep_columns = [
    'Id2',
    'Occupied housing units; Estimate; Occupied housing units',
    'Occupied housing units; Estimate; HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Median household income (dollars)',
    'Occupied housing units; Estimate; MONTHLY HOUSING COSTS - Median (dollars)',
]
keep_ids = dx.loc[keep_columns].var_name.tolist()
df= DATA[keep_ids][1:]
df.columns = ['postal_code','occup_housing_units', 'median_income','median_costs']
df = df.set_index('postal_code')

In [7]:
i=3323
#df[i:i+20]
df.loc['12528'].to_dict()

{'occup_housing_units': '4937',
 'median_income': '71857',
 'median_costs': '1382'}

In [9]:
df

            occup_housing_units median_income median_costs
postal_code
47001                     30518         47206          693
00601                      5818         11757          210
00602                     12719         16190          179
00603                     19009         16645          253
00606                      1959         13387          129
...                         ...           ...          ...
99923                         0             -            -
99925                       327         48646          504
99926                       485         57969          517
99927                        41         17981            -
99929                      1075         55742          701

[33121 rows x 3 columns]

In [10]:
len(df)

33121