In [6]:
%reload_ext autoreload
%autoreload 2

In [7]:
from pathlib import Path
from zipfile import ZipFile 
import pandas as pd
from io import BytesIO, StringIO
from pandas_summary import DataFrameSummary
import numpy as np
from toolz import merge

In [20]:
! pip install geoip2

Collecting geoip2
  Downloading https://files.pythonhosted.org/packages/ed/17/bcbb7c0849492e218767e658c66fbf9e3420b6301072371547c4f7192d48/geoip2-2.9.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.9 in /Users/wmcabee/_NBC/nbc_analysis/venv/lib/python3.7/site-packages (from geoip2) (2.22.0)
Collecting maxminddb>=1.4.0 (from geoip2)
  Downloading https://files.pythonhosted.org/packages/48/6e/6e91f3ea31d08b4142b451e1959dd8964e6d5edc955d5b180de9c5f7a920/maxminddb-1.5.1.tar.gz (272kB)
     |████████████████████████████████| 276kB 5.6MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /Users/wmcabee/_NBC/nbc_analysis/venv/lib/python3.7/site-packages (from requests>=2.9->geoip2) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/wmcabee/_NBC/nbc_analysis/venv/lib/python3.7/site-packages (from requests>=2.9->geoip2) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/wmcabee/_NBC/nbc_analysis/venv/lib/python3.7/site-packages (from requests>=2.9->geoip2) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/wmcabee/_NBC/nbc_analysis/venv/lib/python3.7/site-packages (from requests>=2.9->geoip2) (3.0.4)
Installing collected packages: maxminddb, geoip2
  Running setup.py install for maxminddb ... done
Successfully installed geoip2-2.9.0 maxminddb-1.5.1

In [17]:
GEOLITE2_DB = Path.home() / '_NBC/datasets/GeoLite2-City_20191001/GeoLite2-City.mmdb'
print(GEOLITE2_DB)
GEOLITE2_DB.is_file()

/Users/wmcabee/_NBC/datasets/GeoLite2-City_20191001/GeoLite2-City.mmdb

True

In [21]:
import geoip2.database
reader = geoip2.database.Reader(GEOLITE2_DB)
response = reader.city('128.101.101.101')

In [45]:
response.city.geoname_id
response.postal.code
response.location.time_zone
response.subdivisions[0].iso_code
response.subdivisions[0].name
response.city.name

'Saint Paul'

In [41]:
IP6 = IP6[IP6.geoname_id.isin(LOCS.index)].copy()
IP6

,network,geoname_id,registered_country_geoname_id,represented_country_geoname_id,is_anonymous_proxy,is_satellite_provider,postal_code,latitude,longitude,accuracy_radius
0,9c:1e::95:69:9d:41/128,4704203,NaN,NaN,0,0,75770,32.1608,-95.5927,100
1,2000:db8::/32,5332921,NaN,NaN,0,0,93614,37.2502,-119.7513,100
1079,2001:400::/37,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
1080,2001:400:800::/39,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
1081,2001:400:a00::/40,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
...,...,...,...,...,...,...,...,...,...,...
329742,2a0f:104::/30,6252001,6252001.0,NaN,0,0,NaN,37.7510,-97.8220,100
329746,2a0f:300::/30,5551752,6252001.0,NaN,0,0,NaN,33.4532,-112.0749,100
329747,2a0f:304::/31,5551752,2635167.0,NaN,0,0,NaN,33.4532,-112.0749,100
329748,2a0f:306::/31,5551752,6252001.0,NaN,0,0,NaN,33.4532,-112.0749,100
330784,2c0f:f9b8:2::/48,6252001,934292.0,NaN,0,0,NaN,37.7510,-97.8220,100

In [43]:
ip = '24.186.72.123'

IP4 = IP4[IP4.geoname_id.isin(LOCS.index)].copy()
mask = IP4.network.str.startswith(ip[:10])
df = IP4[mask].iloc[0]
ip_info = df.to_dict()
geoname_id = int(ip_info['geoname_id'])
geoname_id

5120741

In [48]:
loc_info = LOCS.loc[geoname_id]
lkup = merge(ip_info, loc_info)
lkup

{'network': '24.186.72.0/21',
 'geoname_id': 5120741.0,
 'registered_country_geoname_id': 6252001.0,
 'represented_country_geoname_id': nan,
 'is_anonymous_proxy': 0,
 'is_satellite_provider': 0,
 'postal_code': '12528',
 'latitude': 41.7167,
 'longitude': -73.9928,
 'accuracy_radius': 5.0,
 'locale_code': 'en',
 'continent_code': nan,
 'continent_name': 'North America',
 'country_iso_code': 'US',
 'country_name': 'United States',
 'subdivision_1_iso_code': 'NY',
 'subdivision_1_name': 'New York',
 'subdivision_2_iso_code': nan,
 'subdivision_2_name': nan,
 'city_name': 'Highland',
 'metro_code': 501.0,
 'time_zone': 'America/New_York',
 'is_in_european_union': 0}

{'locale_code': 'en',
 'continent_code': nan,
 'continent_name': 'North America',
 'country_iso_code': 'US',
 'country_name': 'United States',
 'subdivision_1_iso_code': 'NY',
 'subdivision_1_name': 'New York',
 'subdivision_2_iso_code': nan,
 'subdivision_2_name': nan,
 'city_name': 'Highland',
 'metro_code': 501.0,
 'time_zone': 'America/New_York',
 'is_in_european_union': 0}