In [2]:
%reload_ext autoreload
%autoreload 2

In [33]:
from pathlib import Path
from zipfile import ZipFile 
import pandas as pd
from io import BytesIO, StringIO
from pandas_summary import DataFrameSummary

In [9]:
zip_f = Path.home() / '_NBC/datasets/GeoLite2-City-CSV_20191001.zip'

PosixPath('/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip')

In [118]:
# importing required modules 
filename = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv6.csv'
#filename = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv4.csv'
#filename = 'GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-en.csv'
# opening the zip file in READ mode 
with ZipFile(zip_f, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir() 
    df = pd.read_csv(BytesIO(zip.read(filename)))
    # extracting all the files 
    #print('Extracting all the files now...') 
    #zip.extractall() 
    
    print('Done!') 

    
DATA = df

File Name                                             Modified             Size
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-zh-CN.csv 2019-10-01 18:11:36      9133303
GeoLite2-City-CSV_20191001/LICENSE.txt         2019-10-01 18:11:38          433
GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv6.csv 2019-10-01 18:11:38     21822822
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-en.csv 2019-10-01 18:11:38     10665004
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-ru.csv 2019-10-01 18:11:38     11952591
GeoLite2-City-CSV_20191001/GeoLite2-City-Blocks-IPv4.csv 2019-10-01 18:11:40    199906686
GeoLite2-City-CSV_20191001/COPYRIGHT.txt       2019-10-01 18:11:46           55
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-ja.csv 2019-10-01 18:11:46     12027028
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-es.csv 2019-10-01 18:11:46      8770776
GeoLite2-City-CSV_20191001/README.txt          2019-10-01 18:11:46          116
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-pt-BR.csv 2019-10-01 18:11:46      9052921
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-de.csv 2019-10-01 18:11:48      8557746
GeoLite2-City-CSV_20191001/GeoLite2-City-Locations-fr.csv 2019-10-01 18:11:48      9416402
Done!

In [121]:
DATA.sample(20)
IP4 = DATA.copy()

In [71]:
DFS = DataFrameSummary(DATA)
DFS.columns_stats.T

                        counts uniques missing missing_perc        types
geoname_id              121182  121182       0           0%      numeric
locale_code             121182       1       0           0%     constant
continent_code           94923       6   26259       21.67%  categorical
continent_name          121182       7       0           0%  categorical
country_iso_code        121154     249      28        0.02%  categorical
country_name            121180     250       2        0.00%  categorical
subdivision_1_iso_code  120401    1126     781        0.64%  categorical
subdivision_1_name      120405    3332     777        0.64%  categorical
subdivision_2_iso_code   39136     717   82046       67.70%  categorical
subdivision_2_name       39345     975   81837       67.53%  categorical
city_name               120025  104847    1157        0.95%  categorical
metro_code               20438     210  100744       83.13%      numeric
time_zone               121182     402       0           0%  categorical
is_in_european_union    121182       2       0           0%         bool

In [123]:
#df = DATA.copy()
#df = df[df.country_iso_code == 'US']
#df.sample(20)
LOCATION = df.copy

In [74]:
dfs = DataFrameSummary(df)
dfs.summary()

,geoname_id,locale_code,continent_code,continent_name,country_iso_code,country_name,subdivision_1_iso_code,subdivision_1_name,subdivision_2_iso_code,subdivision_2_name,city_name,metro_code,time_zone,is_in_european_union
count,20495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20437,NaN,20495
mean,4.91291e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621.489,NaN,0
std,542324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.083,NaN,0
min,4.04623e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,NaN,0
25%,4.50056e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532,NaN,0
50%,4.93501e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612,NaN,0
75%,5.20334e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,686,NaN,0
max,1.20477e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,881,NaN,0
counts,20495,20495,0,20495,20495,20495,20494,20494,0,0,20443,20437,20495,20495
uniques,20495,1,0,1,1,1,51,51,0,0,13385,210,29,1
missing,0,0,20495,0,0,0,1,1,20495,20495,52,58,0,0
missing_perc,0%,0%,100%,0%,0%,0%,0.00%,0.00%,100%,100%,0.25%,0.28%,0%,0%
types,numeric,constant,unique,constant,constant,constant,categorical,categorical,unique,unique,categorical,numeric,categorical,constant

In [114]:
with pd.option_context('display.max_rows', 20, 'display.max_columns', None):
    dx = df.groupby(['geoname_id', 'time_zone', ]).size().to_frame('cnt').unstack()
    tot = dx.sum(axis=1).sort_values(ascending=False)
    tot2 = dx.sum(axis=0).sort_values(ascending=False)
    dy = dx.reindex(index=tot.index, columns=tot2.index).fillna('')
    display(dy)

                        cnt                                      \
time_zone  America/New_York America/Chicago America/Los_Angeles
geoname_id
12047677                  1
4621108                                   1
4679667                                   1
4679803                                   1
4679867                                   1
...                     ...             ...                 ...
5119432                   1
5119513                   1
5119539                   1
5119580                   1
4046230                                   1

                                                                        \
time_zone  America/Denver America/Detroit America/Indiana/Indianapolis
geoname_id
12047677
4621108
4679667
4679803
4679867
...                   ...             ...                          ...
5119432
5119513
5119539
5119580
4046230

                                                                             \
time_zone  America/Phoenix America/Boise America/Anchorage Pacific/Honolulu
geoname_id
12047677
4621108
4679667
4679803
4679867
...                    ...           ...               ...              ...
5119432
5119513
5119539
5119580
4046230

                                                                  \
time_zone  America/Kentucky/Louisville America/Indiana/Vincennes
geoname_id
12047677
4621108
4679667
4679803
4679867
...                                ...                       ...
5119432
5119513
5119539
5119580
4046230

                                                          \
time_zone  America/Menominee America/Nome America/Juneau
geoname_id
12047677
4621108
4679667
4679803
4679867
...                      ...          ...            ...
5119432
5119513
5119539
5119580
4046230

                                                                            \
time_zone  America/Indiana/Tell_City America/Indiana/Winamac America/Sitka
geoname_id
12047677
4621108
4679667
4679803
4679867
...                              ...                     ...           ...
5119432
5119513
5119539
5119580
4046230

                                                               \
time_zone  America/Indiana/Petersburg America/Indiana/Marengo
geoname_id
12047677
4621108
4679667
4679803
4679867
...                               ...                     ...
5119432
5119513
5119539
5119580
4046230

                                                             \
time_zone  America/Indiana/Knox America/North_Dakota/Beulah
geoname_id
12047677
4621108
4679667
4679803
4679867
...                         ...                         ...
5119432
5119513
5119539
5119580
4046230

                                                                              \
time_zone  America/North_Dakota/New_Salem America/Adak America/Indiana/Vevay
geoname_id
12047677
4621108
4679667
4679803
4679867
...                                   ...          ...                   ...
5119432
5119513
5119539
5119580
4046230

                                                                           \
time_zone  America/Kentucky/Monticello America/Yakutat America/Metlakatla
geoname_id
12047677
4621108
4679667
4679803
4679867
...                                ...             ...                ...
5119432
5119513
5119539
5119580
4046230


time_zone  America/North_Dakota/Center
geoname_id
12047677
4621108
4679667
4679803
4679867
...                                ...
5119432
5119513
5119539
5119580
4046230

[20495 rows x 29 columns]

In [ ]:
LOCATION