In [1]:
%reload_ext autoreload
%autoreload 2

In [6]:
from test_prepare_demographics import test_prepare_demographics, _get_config
from nbc_analysis.utils.debug_utils import runit
from toolz import first
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary

from pathlib import Path

In [7]:
CONFIG = _get_config()
CONFIG

{'demographics': {'demographics_d': '/Users/wmcabee/DATA/NBC/demographics',
  'zip2income_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv'),
  'subnet2zip_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip'),
  'subnet2inc4_filename': 'subnet2inc4.parquet',
  'subnet2inc6_filename': 'subnet2inc6.parquet'}}

## Test Prepare Zip to Income

In [43]:
%%time
df = runit(test_prepare_demographics)

2019-10-19 20:00:29,057|INFO|nbc_analysis.demographics.main|start prepare zip demographics,config={'demographics_d': '/Users/wmcabee/DATA/NBC/demographics', 'zip2income_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv'), 'subnet2zip_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip'), 'subnet2inc4_filename': 'subnet2inc4.parquet', 'subnet2inc6_filename': 'subnet2inc6.parquet'}
2019-10-19 20:00:29,059|INFO|nbc_analysis.demographics.prep_zip2income.main|start prep_zip2income
2019-10-19 20:00:29,059|INFO|nbc_analysis.demographics.prep_zip2income.main|start load asc file,limit=None,file=/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv
2019-10-19 20:00:32,715|INFO|nbc_analysis.demographics.prep_zip2income.main|end load asc file,file=/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv,record_cnt=33122
2019-10-19 20:00:33,095|INFO|nbc_analysis.demographics.prep_zip2income.main|end prep_zip2income,record_cnt=33120
2019-10-19 20:00:33,096|INFO|nbc_analysis.demographics.prep_subnet2zip.main|start prepare subnet2zip files
2019-10-19 20:00:33,096|INFO|nbc_analysis.demographics.prep_subnet2zip.main|start load geolite2 city datasets,infile=/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip
2019-10-19 20:00:38,473|INFO|nbc_analysis.demographics.prep_subnet2zip.main|end load geolite2 city datasets
2019-10-19 20:00:38,502|INFO|nbc_analysis.demographics.prep_subnet2zip.main|end ip6 merge
2019-10-19 20:00:39,077|INFO|nbc_analysis.demographics.prep_subnet2zip.main|end ip4 merge
2019-10-19 20:00:39,078|INFO|nbc_analysis.demographics.prep_subnet2zip.main|end prepare subnet2zip files,ip6=33423,ip4=1209753
2019-10-19 20:00:39,109|INFO|nbc_analysis.demographics.main|start merge and write subnet6inc
2019-10-19 20:00:40,789|INFO|nbc_analysis.demographics.main|end merge and write subnet6inc,record_cnt=1209753
2019-10-19 20:00:40,790|INFO|nbc_analysis.demographics.main|start merge and write subnet6inc
2019-10-19 20:00:40,880|INFO|nbc_analysis.demographics.main|end merge and write subnet6inc,record_cnt=33423
2019-10-19 20:00:40,880|INFO|nbc_analysis.demographics.main|end prepare zip demographics

CPU times: user 10.6 s, sys: 1.36 s, total: 11.9 s
Wall time: 11.9 s

## Examine output files

In [44]:
cfg = CONFIG['demographics']
outdir = Path(cfg['demographics_d'])
subnet2inc4 = pd.read_parquet(outdir / cfg['subnet2inc4_filename'])
subnet2inc6 = pd.read_parquet(outdir / cfg['subnet2inc6_filename'])

In [45]:
subnet2inc4.network.is_unique

True

In [48]:
subnet2inc4

,network,geoname_id,postal_code,latitude,longitude,country_iso_code,country,state_iso_code,state,city,time_zone,geo_id,occup_housing_units,median_household_income,median_household_costs
0,2.56.9.245/32,5128581.0,10004,40.7145,-74.0029,US,United States,NY,New York,New York,America/New_York,8600000US10004,1587.0,140450.0,3097.0
1,2.56.9.246/32,4887398.0,60602,41.8483,-87.6517,US,United States,IL,Illinois,Chicago,America/Chicago,8600000US60602,596.0,115774.0,2558.0
2,2.56.9.247/32,4699066.0,77002,29.7720,-95.3644,US,United States,TX,Texas,Houston,America/Chicago,8600000US77002,3295.0,72306.0,1439.0
3,2.56.9.248/32,5368361.0,90009,34.0544,-118.2440,US,United States,CA,California,Los Angeles,America/Los_Angeles,None,NaN,NaN,NaN
4,2.56.20.0/22,5809844.0,98168,47.4902,-122.3004,US,United States,WA,Washington,Seattle,America/Los_Angeles,8600000US98168,11236.0,53992.0,1250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209748,217.147.189.0/24,5611251.0,83455,43.6148,-111.1259,US,United States,ID,Idaho,Victor,America/Boise,8600000US83455,1954.0,50688.0,1062.0
1209749,217.147.190.0/24,5607916.0,83276,42.6718,-111.5699,US,United States,ID,Idaho,Soda Springs,America/Boise,8600000US83276,1410.0,61272.0,717.0
1209750,217.147.191.0/24,5832767.0,83013,43.9509,-110.5532,US,United States,WY,Wyoming,Moran,America/Denver,8600000US83013,204.0,NaN,1382.0
1209751,217.197.163.0/24,5128581.0,10013,40.7157,-74.0000,US,United States,NY,New York,New York,America/New_York,8600000US10013,12207.0,106056.0,2050.0
1209752,220.232.59.132/32,5392171.0,95141,37.3388,-121.8914,US,United States,CA,California,San Jose,America/Los_Angeles,None,NaN,NaN,NaN