In [32]:
%reload_ext autoreload
%autoreload 2

In [33]:
from nbc_analysis.utils.debug_utils import runit
from nbc_analysis.utils.file_utils import read_parquet


from test_load_db import test_load_db, test_initialize_db, _get_config
from pathlib import Path

import pandas as pd
import numpy as np

In [34]:
config = _get_config()
config

{'calendar': {'start_day_key': 20170101,
  'end_day_key': 20210101,
  'calendar_d': PosixPath('/Users/wmcabee/DATA/NBC/calendar')},
 'database': {'db_f': PosixPath('/Users/wmcabee/DATA/NBC/test_db.sqlite'),
  'connect_str': 'sqlite:////%s'},
 'demographics': {'demographics_d': PosixPath('/Users/wmcabee/DATA/NBC/demographics'),
  'zip2income_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/ACS_17_5YR_S2503_with_ann.csv'),
  'subnet2zip_input_f': PosixPath('/Users/wmcabee/_NBC/datasets/GeoLite2-City-CSV_20191001.zip')},
 'normalize': {'test_input_d': PosixPath('/Users/wmcabee/DATA/NBC/work/query'),
  'normalize_d': PosixPath('/Users/wmcabee/DATA/NBC/normalize')}}

In [35]:
#engine = runit(test_initialize_db)

In [36]:
engine = runit(test_load_db)
#DIMS = runit(test_load_db)
#fact = runit(test_load_db)

2019-10-25 06:53:11,171|INFO|nbc_analysis.load_db.main|start database load
2019-10-25 06:53:11,179|INFO|nbc_analysis.utils.db_utils|start initialize_database, cfg={'db_f': PosixPath('/Users/wmcabee/DATA/NBC/test_db.sqlite'), 'connect_str': 'sqlite:////%s'},replace=True
2019-10-25 06:53:11,199|INFO|nbc_analysis.utils.db_utils|end initialize_database,connect_str=sqlite://///Users/wmcabee/DATA/NBC/test_db.sqlite
2019-10-25 06:53:11,201|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/calendar/dim_day.parquet
2019-10-25 06:53:11,207|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/calendar/dim_day.parquet,record_cnt=1461
2019-10-25 06:53:11,208|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/calendar/dim_day_loc.parquet
2019-10-25 06:53:11,213|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/calendar/dim_day_loc.parquet,record_cnt=1461
2019-10-25 06:53:11,214|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/calendar/dim_hour_in_week.parquet
2019-10-25 06:53:11,217|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/calendar/dim_hour_in_week.parquet,record_cnt=168
2019-10-25 06:53:11,218|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/dim_end_type.parquet
2019-10-25 06:53:11,222|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/dim_end_type.parquet,record_cnt=9
2019-10-25 06:53:11,222|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/dim_event_type.parquet
2019-10-25 06:53:11,226|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/dim_event_type.parquet,record_cnt=1
2019-10-25 06:53:11,227|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/dim_platform.parquet
2019-10-25 06:53:11,230|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/dim_platform.parquet,record_cnt=10
2019-10-25 06:53:11,231|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/dim_profile.parquet
2019-10-25 06:53:11,234|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/dim_profile.parquet,record_cnt=233
2019-10-25 06:53:11,235|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/dim_video.parquet
2019-10-25 06:53:11,245|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/dim_video.parquet,record_cnt=7569
2019-10-25 06:53:11,246|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/demographics/dim_network.parquet
2019-10-25 06:53:12,361|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/demographics/dim_network.parquet,record_cnt=1243177
2019-10-25 06:53:12,376|INFO|nbc_analysis.load_db.main|start load dim table DIM_DAY,record_cnt=1461
2019-10-25 06:53:12,491|INFO|nbc_analysis.load_db.main|start load dim table DIM_DAY_LOC,record_cnt=1461
2019-10-25 06:53:12,554|INFO|nbc_analysis.load_db.main|start load dim table DIM_END_TYPE,record_cnt=9
2019-10-25 06:53:12,559|INFO|nbc_analysis.load_db.main|start load dim table DIM_EVENT_TYPE,record_cnt=1
2019-10-25 06:53:12,563|INFO|nbc_analysis.load_db.main|start load dim table DIM_HOUR_IN_WEEK,record_cnt=168
2019-10-25 06:53:12,571|INFO|nbc_analysis.load_db.main|start load dim table DIM_NETWORK,record_cnt=1243177
2019-10-25 06:53:52,969|INFO|nbc_analysis.load_db.main|start load dim table DIM_PLATFORM,record_cnt=10
2019-10-25 06:53:52,974|INFO|nbc_analysis.load_db.main|start load dim table DIM_PROFILE,record_cnt=233
2019-10-25 06:53:52,981|INFO|nbc_analysis.load_db.main|start load dim table DIM_VIDEO,record_cnt=7569
2019-10-25 06:53:53,124|INFO|nbc_analysis.utils.file_utils|start read file,/Users/wmcabee/DATA/NBC/normalize/f_video_end.parquet
2019-10-25 06:53:53,238|INFO|nbc_analysis.utils.file_utils|end read file,/Users/wmcabee/DATA/NBC/normalize/f_video_end.parquet,record_cnt=106302
2019-10-25 06:53:53,239|INFO|nbc_analysis.load_db.main|start convert_uint64,name=f_video_end
2019-10-25 06:53:53,254|INFO|nbc_analysis.load_db.main|start load fact table F_VIDEO_END,record_cnt=106302
2019-10-25 06:53:56,289|INFO|nbc_analysis.load_db.main|end database load

In [38]:
engine.table_names()

['DIM_DAY',
 'DIM_DAY_LOC',
 'DIM_END_TYPE',
 'DIM_EVENT_TYPE',
 'DIM_HOUR_IN_WEEK',
 'DIM_NETWORK',
 'DIM_PLATFORM',
 'DIM_PROFILE',
 'DIM_VIDEO',
 'F_VIDEO_END']

In [56]:
df = pd.read_sql(sql="""
select distinct mpid, show
from F_VIDEO_END f
join DIM_VIDEO vid on f.video_key = vid.video_key
where 1=1
and f.mpid = 594429747067128960
--group by mpid
--having show_cnt > 4
order by mpid

limit 100


""", con=engine)
df

                 mpid               show
0  594429747067128960             Access
1  594429747067128960       Tia & Tamera
2  594429747067128960           Iron Man
3  594429747067128960         This Is Us
4  594429747067128960           Songland
5  594429747067128960       Chicago P.D.
6  594429747067128960  Botched By Nature

In [ ]:
df = pd.read_sql(sql="""
select * 
from DIM_NETWORK net

""", con=engine)
df

In [151]:
list(DIMS)

['dim_day',
 'dim_day_loc',
 'dim_hour_in_week',
 'dim_end_type',
 'dim_event_type',
 'dim_platform',
 'dim_profile',
 'dim_video']

In [291]:
df = DIMS['dim_network']
#df = fact

In [299]:
[ ( name, ds.astype(np.str).map(len).max()) for name, ds in df.iteritems()]

[('network_key', 19),
 ('ip_type', 7),
 ('network', 43),
 ('geoname_id', 10),
 ('postal_code', 7),
 ('latitude', 7),
 ('longitude', 9),
 ('country_iso_code', 7),
 ('country', 13),
 ('state_iso_code', 7),
 ('state', 20),
 ('city', 52),
 ('time_zone', 30),
 ('geo_id', 14),
 ('occup_housing_units', 7),
 ('median_household_income', 8),
 ('median_household_costs', 6)]

In [293]:
df.head().T

,0,1,2,3,4
network_key,170149117347355830,7983848685104720924,4172137581945467765,8727835268345020339,1723861096030196059
ip_type,ip4,ip4,ip4,ip4,ip4
network,2.56.9.245/32,2.56.9.246/32,2.56.9.247/32,2.56.9.248/32,2.56.20.0/22
geoname_id,5.12858e+06,4.8874e+06,4.69907e+06,5.36836e+06,5.80984e+06
postal_code,10004,60602,77002,90009,98168
latitude,40.7145,41.8483,29.772,34.0544,47.4902
longitude,-74.0029,-87.6517,-95.3644,-118.244,-122.3
country_iso_code,US,US,US,US,US
country,United States,United States,United States,United States,United States
state_iso_code,NY,IL,TX,CA,WA
state,New York,Illinois,Texas,California,Washington
city,New York,Chicago,Houston,Los Angeles,Seattle
time_zone,America/New_York,America/Chicago,America/Chicago,America/Los_Angeles,America/Los_Angeles
geo_id,8600000US10004,8600000US60602,8600000US77002,None,8600000US98168
occup_housing_units,1587,596,3295,NaN,11236
median_household_income,140450,115774,72306,NaN,53992
median_household_costs,3097,2558,1439,NaN,1250

In [294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243177 entries, 0 to 1243176
Data columns (total 17 columns):
network_key                1243177 non-null int64
ip_type                    1243177 non-null object
network                    1243177 non-null object
geoname_id                 1243176 non-null float64
postal_code                1234930 non-null object
latitude                   1243176 non-null float64
longitude                  1243176 non-null float64
country_iso_code           1243177 non-null object
country                    1243177 non-null object
state_iso_code             1243177 non-null object
state                      1243177 non-null object
city                       1234728 non-null object
time_zone                  1243177 non-null object
geo_id                     1201678 non-null object
occup_housing_units        1201677 non-null float64
median_household_income    1197137 non-null float64
median_household_costs     1197279 non-null float64
dtypes: float64(6), int64(1), object(10)
memory usage: 161.2+ MB

In [271]:
indir = config['demographics']['demographics_d']

list(indir.glob('*'))[0]

PosixPath('/Users/wmcabee/DATA/NBC/demographics/network_dim.parquet')